# Игнорирование файлов и папок, связанных с PyCharm
.idea/

# Игнорирование файлов виртуального окружения
venv/
.env/

# Игнорирование файлов Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Игнорирование логов
*.log

# Игнорирование временных файлов операционной системы
.DS_Store
Thumbs.db

# Игнорирование баз данных SQLite (если используете)
*.sqlite3

# Игнорирование файлов машинного обучения
my_model.h5
scaler.npy
scaler_scale.npy

# Игнорирование данных
*.csv
*.tsv

# Игнорирование файлов с конфиденциальной информацией
*.env

# Игнорирование временных файлов Jupyter Notebook
.ipynb_checkpoints/

# Игнорирование архивов и других крупных файлов
*.zip
*.tar.gz
*.rar

# Игнорирование кэш-файлов pip
__pycache__/
*.egg-info/
dist/
build/

# Игнорирование файлов Postgres
pgdata/
